@Html.Raw(ViewData["sidebar"])
<script src="~/js/jquery-1.12.4.js"></script>
<link rel="stylesheet" href="~/js/UI/jquery-ui.css" type="text/css" />
<script src="~/js/UI/jquery-ui.js"></script>

<script src="~/datatables/datatables.min.js"></script>
<script src="~/datatables/Responsive-2.2.7/js/dataTables.responsive.min.js"></script>
<link rel="stylesheet" href="~/datatables/datatables.min.css" />


<script type="text/javascript">
    jQuery(document).ready(function ($) {
        setTimeout(function () {
            $("#alert").hide("slow");

        }, 2000);
    });

</script>

<style>
    .collapsible {
        background-color: white;
        color: black;
        cursor: pointer;
        padding: 5px 5px 5px 5px;
        width: 100%;
        border: 0px;
        border-bottom: 1px solid black;
        text-align: left;
        outline: none;
        font-size: 18px;
        font-weight: 500;
    }

        .collapsible:hover {
            background-color: #aaa;
        }

        .collapsible:after {
            content: '\002B';
            color: black;
            font-weight: 500;
            float: left;
            margin-left: 5px;
        }

    .active:after {
        content: "\2212";
    }

    .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #f1f1f1;
    }

    table {
        width: 100%;
    }

    th {
        border-bottom: 1px solid black
    }

    td {
        padding: 5px;
    }

    tr {
        border-bottom: 1px solid black
    }
</style>


<h1>Finance View</h1>
<a href="/Expense">Return to Expense Home</a>



@Html.Raw(ViewData["getfinance"])

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }


    function quickapprove(ID) {
        $.get("/Expense/QuickApprovefin", { stritem: ID }, function (data) { });
        document.getElementById(ID).className = 'hidden'
    }

    function goto(ID) {
        document.getElementById('txtID').value = ID
        document.getElementById('postsubmit').click()
    }
</script>

<form asp-controller="Expense" asp-action="PostFinanceEdit" method="post">
    <input type="button" id="postsubmit" class="hidden" value="Submit" onclick="submit()" />
    <input type="text" id="txtID" class="hidden" name="txtID" />
</form>