@Html.Raw(ViewData["sidebar"])
<script src="~/js/jquery-1.12.4.js"></script>
<link rel="stylesheet" href="~/js/UI/jquery-ui.css" type="text/css" />
<script src="~/js/UI/jquery-ui.js"></script>

<script src="~/datatables/datatables.min.js"></script>
<script src="~/datatables/Responsive-2.2.7/js/dataTables.responsive.min.js"></script>
<link rel="stylesheet" href="~/datatables/datatables.min.css" />
<script src="~/js/jquery.inputmask.js"></script>


<script type="text/javascript">
    jQuery(document).ready(function ($) {
        setTimeout(function () {
            $("#alert").hide("slow");

        }, 2000);
    });

    $(window).load(function () {
        $("#txtRate").inputmask({
            'mask': '.99'
        });
    });

</script>

<style>
    .collapsible {
        background-color: white;
        color: black;
        cursor: pointer;
        padding: 5px 5px 5px 5px;
        width: 100%;
        border: 0px;
        border-bottom: 1px solid black;
        text-align: left;
        outline: none;
        font-size: 18px;
        font-weight: 500;
    }

        .collapsible:hover {
            background-color: #aaa;
        }

        .collapsible:after {
            content: '\002B';
            color: black;
            font-weight: 500;
            float: left;
            margin-left: 5px;
        }

    .active:after {
        content: "\2212";
    }

    .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #f1f1f1;
    }

    table {
        width: 100%;
    }

    th {
        border-bottom: 1px solid black
    }

    td {
        padding: 5px;
    }

    tr {
        border-bottom: 1px solid black
    }

    .validation {
        color: red;
    }
</style>


<h1>Report Review</h1>
<a href="/Expense">Return to Expense Home</a>
<hr />


<input type="button" class="btn btn-primary" onclick="getchecks(); endchecks()" value="Marks selected as reimbursed" />
<a href="/Expense/ReportEdit">
    <input type="button" class="btn btn-primary" value="Go to Previous Reports" />
</a>

    <div style="height:10px"></div>
    @Html.Raw(ViewData["getfinance"])


    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }

        function showimage(fullsize, path, resized) {
            document.getElementById('resizeimage').src = "https://pgcorestorage.blob.core.windows.net/" + path + "/" + resized
            document.getElementById("pictureframe").style.height = ((window.innerHeight * .80) - 150).toString() + "px"
            document.getElementById('imagedl').href = "https://pgcorestorage.blob.core.windows.net/" + path + "/" + fullsize


            $("#showimage").dialog({
                resizable: false,
                height: (window.innerHeight * .80),
                width: "80%",
                modal: true
            });
        }

        function headclick(passvalue) {
            if (document.getElementById('head' + passvalue).checked == true) {
                var checkboxes = document.getElementsByName(passvalue);
                for (var i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = true
                }
            } else {
                var checkboxes = document.getElementsByName(passvalue);
                for (var i = 0; i < checkboxes.length; i++) {
                    checkboxes[i].checked = false
                }
            }
            return false;
        }

        function bodyclick(passvalue) {
            var checkboxes = document.getElementsByName(passvalue);
            var checkcheck = 0

            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked == true) {
                    checkcheck = checkcheck + 1
                }
            }

            if (checkcheck == checkboxes.length) {
                document.getElementById('head' + passvalue).checked = true
            } else {
                document.getElementById('head' + passvalue).checked = false
            }
        }

        function getchecks() {
            var checkboxes = document.getElementsByClassName('checkers')
            var checkcheck = 0
            var allid = ""

            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked == true) {
                    var id = checkboxes[i].id
                    allid = allid + id + "$$$$"
                    checkcheck = checkcheck + 1
                }
            }
            if (checkcheck > 0) {
                document.getElementById('txtID').value = allid
                document.getElementById('postsubmit').click()
            }
        }

    </script>

    <div style="visibility:hidden; height:0px; display:none">
        <div id="showimage" title="Select your supervisor">
            <div id="pictureframe" style="overflow-y:scroll">
                <img id="resizeimage" src="" style="width:100%" />
            </div>
            <br />

            <div class="modal-footer">
                <a id="imagedl" style="text-decoration:none">
                    <input type="button" class="btn btn-primary" onclick="$('#showimage').dialog('close');" value="Download" />
                </a>
                <button type="button" class="btn btn-secondary" onclick="$('#showimage').dialog('close');" id="supclose">Close</button>
            </div>
        </div>
    </div>

    <form asp-controller="Expense" asp-action="ReportApprove" method="post">
        <input type="button" id="postsubmit" class="hidden" value="Submit" onclick="submit()" />
        <input type="text" id="txtID" class="hidden" name="txtID" />
    </form>
