@model MicrosoftGraphAspNetCoreConnectSample.Models.Dropdownlist
    <script src="~/lib/jquery/jquery.js"></script>
   
    <script src="~/lib/select2/js/select2.js"></script>




    <form asp-controller="Home" asp-action="PostForm" method="post">
        Submission ID:
        <b>
            <span id="UID">@Html.DisplayTextFor(model => model.getGUID)</span>
        </b>
        <br />
        <br />
        @Html.DropDownListFor(model => model.issuelist, new SelectList(Model.issuelist, "IssueTarget", "IssueName"), new { @class = "form-control", @onchange = "issuechange(this.value, this.options[this.selectedIndex].text)", @id="ddIssue", @style = "width: 300 px" })
        <br /><br/>
              <div class="hidden" id="ticketinfo">
                  @Html.DropDownListFor(model => model.operationlist, new SelectList(Model.operationlist, "operationName", "operationName"), new { @class = "form-control", @onchange = "facilitychange(this.value)", @id = "ddFacility", @style = "width: 300 px" })
                  <br />
                  <input type="text" id="txtLastName" placeholder="Name" class="form-control" name="LastName" style="width:300px" />
                  <br />
                  <input type="text" id="txtPhone" placeholder="Phone Number" class="form-control" name="Phone" style="width:300px" />
                  <input type="submit" value="Submit" />
                  <input type="hidden" id="txtfacility" name="facility" />
                  <input type="hidden" id="txtUID" name="UID" />


              </div>

        <div class="hidden" id="linkinfo">
            This link might help with this issue.

            <a id="linktopage"></a>
        </div>
    </form>
    <script type="text/javascript">
        $("#ddIssue").select2({ placeholder: "Type of Issue" });
        $("#ddFacility").select2({ placeholder: "Location" });
    </script>
    <script>
        function issuechange(ddvalue, dditem) {
            if (ddvalue.indexOf('http') !== -1) {
                document.getElementById('linkinfo').className = 'unhide'
                document.getElementById('ticketinfo').className = 'hidden'
                document.getElementById('linktopage').setAttribute('href', ddvalue)
                document.getElementById('linktopage').innerHTML = dditem + ' link'
            } else if (ddvalue == '0') {
                document.getElementById('linkinfo').className = 'hidden'
                document.getElementById('ticketinfo').className = 'hidden'
            } else {
                document.getElementById('linkinfo').className = 'hidden'
                document.getElementById('ticketinfo').className = 'unhide'
            }

            var UID = document.getElementById('UID').innerHTML
            document.getElementById('txtUID').value = UID
            $.get("/Home/issuechanged", { stritem: dditem, struid: UID }, function (data) { });
        }

        function facilitychange(ddvalue) {
            document.getElementById('txtfacility').value = ddvalue
        }
    </script>
