
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>pdffooter</title>
</head>
<body>
    <b>
        <i>
            Prepared for quality assurance review and evaluation,
            and subject to protection of peer review, medical review,
            quality assurance or similar privileges provided for by applicable law.
            Do not copy or distribute.
        </i>
    </b>


</body>
</html>
